body {
    font-family: 'Cinzel', serif;
    text-align: center;
}

h1 {
    color: #000000;
}

.imagenPrincipal {
    width: 50%;
    height: 50%;
}

.question {
    font-size: 18px;
    margin-bottom: 20px;
}

.options {
    display: inline-block;
    text-align: left;
}

.options label {
    display: block;
    margin-bottom: 10px;
}

.result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}